html{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
    max-width: 1700px;
    margin: 0 150px;
}

.container .header{
    display: flex;
    text-align: center;
    max-width: 1700px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    background-color: #FFF;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
}
.form{
    width: 100%;
    margin: 0 auto;
    padding: 0px;
    background-color: #fff;
    }
.label{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;   
    }
.input{
    width: 80%;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 20px;   
}
.button{
    background-color: #FDC886;
    color: rgb(0, 0, 0);
    padding: 20px 30px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;   
}
.main-title{
    max-width: 400px;
}
.form-container{
    display: flex;
    float: left;
    width: 50%;
    background-color: #CABDFF;
    max-width: 400px;
    margin-bottom: 50px;
    border-radius: 15px;
    padding: 40px 30px;
    justify-content: center;
    align-items: center;
} 
.box-input{
    margin-top: 15px;  
}
.block{
    width: 340px;   
}
.btn-submit-0{
    background-color: #fff;
    font-size: 20px;
    margin: 20px 0 ;
    border-radius: 5px;
    padding: 10px;
}
.btn-submit-1{
    background-color: #FDC886;
    font-size: 20px;
    margin: 20px 0 ;
    border-radius: 5px;
    padding: 10px;
}
.title-2{
    font-size: 40px;
    text-align: center;
    
}
.adverts{
    float: right;
    width: 50%;
    background-color: #D9F8F2;
    flex-direction: column;
    padding: 0px 30px;
    border-radius: 15px;
    height: 740px; 
    overflow-y: scroll; 
}
