body{
    margin: 0;
    padding: 0;
    font-family: "roboto", sans-serif;
}
/* Toda a parte de cima do site onde está "ponte.com */
header{
    position: fixed;
    background:  #22242A;
    padding: 20px;
    width: 100%;
    height: 30px;
}
/* fim da parte de cima */
/* Barra de Pesquisa. */
form{
    position: absolute;
    top: 50%;
    right: 70%;
    transform: translateY(-50%);
    border: none;
}
form input[type="text"] {
    padding: 6px 10px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
}
form button[type="submit"] {
    background-color: transparent;    
    border: none;
    outline: none;
    cursor: pointer;
    justify-content: space-between;
}
/* fim da barra de pesquisa */
 /* Edit botão "logout" e a parte do "ponte". */
.left-area h3{
    color: #fff;
    margin: 0;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 900;
}
.left-area span{ /* Somente a parte do ".com" */
    color: #1dc4e7;
}
.logout-btn{ /* Edit botão "logout". */
    padding: 5px;
    background: #19b3d3;
    text-decoration: none;
    float: right;
    margin-top: -30px;
    margin-right: 40px;
    border-radius: 2px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    transition: 0.5s;
    transition-property: background;
}
.logout-btn:hover{ /* "hover" para acrescentar a função no botão quando o mouse estiver em cima. */
    background: #0d9dbb;
}
/* fim da parte do botão "logout". */
/* Toda barra principal da parte de baixo */
.sidebar{
    background: #2f323a;
    margin-top: 70px;
    padding-top: 30px;
    position: fixed;
    left: 0;
    width: 250px;
    height: 100%;
    transition: 0.5s;
    transition-property: left;
}
/* foto de perfil */
.sidebar .foto-de-perfil{
    width: 100px;
    height: 100px;    
}
/* fim da foto do perfil */
/* Edit menu lateral. */
.sidebar h4{
    color: #ccc;
    margin-top: 0;
    margin-bottom: 20px;
}
.sidebar a{
    color: #fff;
    display: block;
    width: 100%;
    line-height: 60px;
    padding-left: 40px;
    box-sizing: border-box;
}
.sidebar a:hover{/* "hover" para acrescentar a função no botão quando o mouse estiver em cima. */
    background: #0d9dbb;
}
/* Espaço entre icones e palavras. */
.sidebar i{
    padding-right: 10px;
}
/* fim do menu lateral */
/* Edit botão "bars". */
label #sidebar-btn{
    z-index: 1;
    color: #fff;
    position: fixed;
    cursor: pointer;
    left: 300px;
    font-size: 20px;
    margin: 5px 0;
    transition: 0.5s;
    transition-property: color;
}
label #sidebar-btn:hover{
    color: #19b3d3;
}
/* fim do botão "bars" */
/* função de encolher do menu lateral */
#check:checked ~ .sidebar{
    left: -190px;
}
#check:checked ~ .sidebar a span{
    display: none;
}
#check:checked ~ .sidebar a{ /* icones */
    font-size: 20px;
    margin-left: 170px;
    width: 80px;
}
/* fim da função de encolher menu lateral */
/* Edit da imagem de fundo da tela". */
.content{
    margin-left: 250px;
    background-position: center;
    background-size: cover;
    height: 100vh;    
    transition: 0.5s;
}
#check:checked ~ .content{ /* para a imagem de fundo encolher junto com a barra de menu lateral. */
    margin-left: 60px;    
}
/* fim da imagem da fundo da tela. */
#check{ /* para tirar a barra que fica do "bars" em cima da tela. */
    display: none;
}