/* HEADER CSS*/
.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.wrapper img {
  width: 180px;
  margin-left: 60px;
}

.wrapper .wrapper-search {
  display: flex;
  flex-direction: row;
  border: solid 1px #4a4a4a;
  border-radius: 5px;
  opacity: 0.7;
  padding: 5px;
  width: 400px;
  height: 32px;
  margin-left: 30px;
}

.wrapper .wrapper-search .wrapper-search-txt {
  font-family: Roboto;
  font-size: 15px;
  color: #4a4a4a;
  background-color: transparent;
  border: none;
  opacity: 0.6;
  width: 400px;
}

.wrapper .wrapper-search .wrapper-search-button {
  width: 35px;
  margin-left: 180px;
  background-color: transparent;
  border: none;
}

.wrapper-search img {
  margin: 0px;
  width: 25px;
}

.wrapper .wrapper-navbar {
  display: flex;
  flex-direction: row;
  margin-right: 30px;
  list-style: none;
  font-family: Roboto;
  color: #4a4a4a;
  font-size: 18px;
}

.wrapper .wrapper-navbar .wrapper-li {
  margin-left: 30px;
  margin-top: 8px;
}

.wrapper .wrapper-navbar .wrapper-button-active:hover {
  color: black;
}

.wrapper .wrapper-navbar .wrapper-li:hover {
  background: white;
  color: #fdc886;
}

.wrapper .wrapper-foto {
  width: 80px;
  margin-right: 60px;
  margin-left: 0px;
}

/* MAIN CSS */

/* CABECALHO */
main {
  font-family: Poppins;
  color: #4a4a4a;
}

.cabecalho {
  display: flex;
  flex-direction: row;
  margin-left: 60px;
  margin-right: 200px;
  margin-top: 40px;
}

.cabecalho img {
  width: 200px;
  height: 200px;
  align-self: center;
}

.cabecalho .cabecalho-texto {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.cabecalho h1 {
  font-size: 30px;
  font-weight: Medium;
  margin-top: 0px;
  margin-bottom: 10px;
}

.cabecalho h2 {
  font-size: 25px;
  font-weight: Medium;
  background-color: #fdc886;
  border-radius: 5px;
  padding: 3px;
  width: 40px;
  height: 30px;
  margin-top: 0px;
  margin-bottom: 5px;
}

.cabecalho p {
  font-size: 17px;
  background-color: #f1f1f1ea;
  border-radius: 5px;
  padding: 5px;
  margin-top: 0px;
  margin-bottom: 10px;
}

.cabecalho h3 {
  font-size: 15px;
  margin-top: 0px;
}

/* CONTEUDO */
.posts {
  margin-top: 0px;
  margin-left: 60px;
  margin-right: 200px;
}

.posts h2 {
  font-size: 25px;
  background-color: #fdc886;
  border-radius: 5px;
  padding: 3px;
  width: 70px;
  height: 30px;
  margin-bottom: 10px;
}

.posts .individual-post {
  margin-top: 0px;
  background-color: #f1f1f1ea;
  border-radius: 5px;
  padding: 5px;
  font-size: 15px;
}

.dt-post {
  font-family: Roboto;
  font-size: 12px;
  text-align: right;
  margin-top: 0px;
}

/* FOOTER */
footer {
  height: 20rem;
  border: 1px solid #4a4a4a;
}
footer #footerContainer {
  height: 20rem;
  font-family: var(--fontSecondary);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer #footerContainer #logoFooter img {
  width: 180px;
}
footer #footerContainer #formFooter {
  font-size: var(--smallFontSize);
}
footer #footerContainer #formFooter form {
  display: flex;
  flex-direction: column;
}
footer #footerContainer #formFooter #sugestionsFooter {
  margin-bottom: 1rem;
}
footer #footerContainer #formFooter #sugestionsFooter h3 {
  font-size: var(--mediumFontSize);
  margin-bottom: 5px;
  color: var(--titleColorLight);
}
footer #footerContainer #formFooter #sugestionsFooter p {
  font-size: var(--smallFontSize);
}
footer #footerContainer #formFooter input[type="email"] {
  width: 100%;
  margin: 3px auto 10px auto;
}
footer #footerContainer #formFooter input[type="submit"] {
  margin: 10px auto 10px auto;
  width: 100%;
}
